<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.platCourse.platCourseAndroid">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/icon_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlatCourse"
        android:usesCleartextTraffic="true"
        tools:replace="allowBackup, label,theme">
        <activity android:name=".menu.terms.TermsActivity"/>
        <activity android:name=".menu.articles.ArticlesActivity" />
        <activity android:name=".menu.article_details.ArticleDetailsActivity" />
        <activity android:name=".menu.pages.PagesActivity" />
        <activity android:name=".menu.contact_us.ContactUsActivity" />
        <activity
            android:name=".home.HomeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".auth.splash.SplashActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>