<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.platCourse.platCourseAndroid">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-feature android:name="android.hardware.usb.host" />

    <queries>

        <!-- Specific apps you interact with, eg: -->
        <package android:name="com.teamviewer.teamviewer.market.mobile" />
        <!--
             Specific intents you query for,
             eg: for a custom share UI
        -->

    </queries>

    <application
        android:name=".app.App"
        android:allowBackup="false"
        android:allowClearUserData="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlatCourse"
        android:usesCleartextTraffic="true"
        tools:replace="allowBackup, label,theme">
        <activity android:name=".home.youtube.YoutubeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:theme="@style/AppFullScreenTheme"
            />
        <activity android:name=".home.course_sections.files.DownloadPdfActivity" />
        <activity android:name=".error.ErrorScreenActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.platCourse.platCourseAndroid.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".home.course_sections.files.PdfReaderActivity" />
        <activity
            android:name=".home.course_details.FullScreenActivity"
            android:configChanges="screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppFullScreenTheme" />
        <activity android:name=".menu.terms.TermsActivity" />
        <activity android:name=".menu.articles.ArticlesActivity" />
        <activity android:name=".menu.article_details.ArticleDetailsActivity" />
        <activity android:name=".menu.pages.PagesActivity" />
        <activity android:name=".menu.contact_us.ContactUsActivity" />
        <activity android:name=".menu.edit_profile.EditProfileActivity" />
        <activity
            android:name=".home.HomeActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.splash.SplashActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


    </application>

</manifest>